#records
{
	border-collapse: collapse;
	width: 100%;
}
tr
{
	height: 50px;
}
td,th
{
	text-align: center;
	width: 18%;
}
#container
{
	margin: 60px 20px;
	height: 600px;
	overflow-y: scroll;
}
.data:nth-child(odd)
{
	background-color: #e6e6e6;
}