.text-box{
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
}

#form{
    margin: auto;
    width: 300px;
    padding: 20px 35px 20px 30px;
}
.label{
    font-weight: bold;
}
.card
{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -340px;
    margin-left: -220px;
}
.card div
{
    margin-top:5px;
}
input
{
    margin-top: 3px;
}
button
{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}